# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.swp

# Model Weights (Optional: Remove this if you want to version the model)
# blocklens_model.pth

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
